.footer {
    width: 100%;
    height: 250px;
    background-color: #383838;
    color: white;
    font-size: 14px;
    text-align: center;
    padding-top: 50px;
}

.footer li {
    display: inline-block;
    margin-right: 5px;
}

ul {
    padding: 0;
}

a:hover {
    cursor: pointer;
}

.modal-body {
    color: black;
    text-align: left;
}