<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" initial-scale=1>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/index/navbar.css">
    <link rel="stylesheet" href="/css/index/header.css">
    <link rel="stylesheet" href="/css/index/footer.css">
    <link rel="stylesheet" href="/css/board/board.css">
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <title>마이잡파트너스</title>
</head>
<body>

<nav th:replace="fragments/navbar :: navbar"></nav>
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/mini_header :: mini_header"></div>

<div class="container">
    <div class="table-wrap">
        <div>
            <h2>채용정보</h2>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col" class="number">No</th>
                <th scope="col" class="title" id="thead-title">제목</th>
                <th scope="col" class="writer">글쓴이</th>
                <th scope="col" class="write-date">작성시간</th>
                <th scope="col" class="count">조회수</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="board : ${noticeTop}" th:classappend="${board.notice} == '1' ? 'top-notice'">
                    <td th:text="${board.id}" class="number">No</td>
                    <td class="title">
                        <a th:text="${board.title}" th:href="@{/info_content/{contentId}(contentId = ${board.id})}">
                            제목
                        </a>
                    </td>
                    <td th:text="${board.member.name}" class="writer">글쓴이</td>
                    <td th:text="${board.writeDate}" class="write-date">작성시간</td>
                    <td th:text="${board.count}" class="count">조회수</td>
                </tr>
                <tr th:each="board : ${board}">
                    <td th:text="${board.id}" class="number">No</td>
                    <td class="title">
                        <a th:text="${board.title}" th:href="@{/info_content/{contentId}(contentId = ${board.id})}">
                            제목
                        </a>
                    </td>
                    <td th:text="${board.member.name}" class="writer">글쓴이</td>
                    <td th:text="${board.writeDate}" class="write-date">작성시간</td>
                    <td th:text="${board.count}" class="count">조회수</td>
                </tr>
            </tbody>
        </table>
        <div class="page">
            <a href="/search/?page=1"><<</a>
            <a th:each="page : ${pageCount}" th:href="@{/search/(page=${page.value})}" th:text="${page.value}">page</a>
            <a th:href="@{/search/(page=${lastPage})}">>></a>
        </div>
    </div>
    <div class="hidden-notice">
        <h5>채용정보</h5>
    </div>
    <div class="board-footer">
        <button class="btn btn-dark" type="button" id="write">글쓰기</button>
    </div>
</div>

<div class="mini-notice">
    <div th:each="mini : ${noticeTop}" class="mini-notice-info" th:classappend="${mini.notice} == 1 ? 'top-notice'">
        <a class="mini-title" th:href="@{/info_content/{contentId}(contentId = ${mini.id})}">
            <p th:text="${mini.title}">제목</p>
            <p th:text="${mini.member.name}" class="content-info"></p>
            <p th:text="${mini.writeDate}" class="content-info"></p>
            <p class="content-info">조회수</p>
            <p th:text="${mini.count}" class="content-info"></p>
        </a>
    </div>
    <div th:each="mini : ${board}" class="mini-notice-info">
        <a class="mini-title" th:href="@{/info_content/{contentId}(contentId = ${mini.id})}">
            <p th:text="${mini.title}">제목</p>
            <p th:text="${mini.member.name}" class="content-info"></p>
            <p th:text="${mini.writeDate}" class="content-info"></p>
            <p class="content-info">조회수</p>
            <p th:text="${mini.count}" class="content-info"></p>
        </a>
    </div>
    <div class="page">
        <a href="/info/?page=1"><<</a>
        <a th:each="page : ${pageCount}" th:href="@{/info/(page=${page.value})}" th:text="${page.value}">page</a>
        <a th:href="@{/info/(page=${lastPage})}">>></a>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script type="text/javascript">
    $(document).ready(function (){
        const write = document.getElementById('write');

        write.addEventListener('click', () =>{
            var dtype = '[[${session.dtype}]]'
            var email = '[[${session.email}]]'
            if (email == "") {
                alert('로그인을 진행해주십시오.');
                location.href = "/info";
            }

            if (dtype == "GUEST") {
                alert('글쓰기 권한이 없습니다.');
                location.href = "/info";
            }
            else if (dtype == "ADMIN") {
                location.href = "/info_write";
            }
        });
    })
</script>
</body>
</html>