<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" initial-scale=1>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/index/navbar.css">
    <link rel="stylesheet" href="/css/index/header.css">
    <link rel="stylesheet" href="/css/index/footer.css">
    <link rel="stylesheet" href="/css/board/board.css">
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <title>마이잡파트너스</title>
</head>
<body>

<nav th:replace="fragments/navbar :: navbar"></nav>
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/mini_header :: mini_header"></div>

<div class="container">
    <div class="table-wrap">
        <div>
            <h2>공지사항</h2>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="board-footer">
        <a class="btn btn-primary" href="/write">글쓰기</a><!-- 개발용 -->
        <button class="btn btn-dark" type="button" id="write">글쓰기</button>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script type="text/javascript">
    // $(document).ready(function (){
    //     const write = document.getElementById('write');
    //
    //     write.addEventListener('click', () =>{
    //         var email = '[[${session.email}]]';
    //         if (email == "") {
    //             alert('로그인 후 이용해주세요');
    //             location.href = "/notice";
    //         }
    //         else {
    //             location.href = "/write";
    //         }
    //     });
    // })
</script>
</body>
</html>