<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" initial-scale=1>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/index/navbar.css">
    <link rel="stylesheet" href="/css/index/header.css">
    <link rel="stylesheet" href="/css/index/footer.css">
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/css/summernote/summernote-lite.css">
    <script src="/js/summernote-lite.js"></script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/lang/summernote-ko-KR.min.js"></script>
    <title>마이잡파트너스</title>

    <style>
        .error {
            border-color: red;
            color: red;
        }
    </style>
</head>
<body>

<nav th:replace="fragments/navbar :: navbar"></nav>
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/mini_header :: mini_header"></div>

<div class="write-wrap">
    <div class="container">
        <form action="/write" method="post" th:object="${write}">
            <input type="text" name="title" class="form-control" th:errorclass="error" th:field="*{title}" placeholder="제목">
            <div class="field-error">
                <p th:errors="*{title}">필드에러</p>
            </div>
            <textarea class="summernote" name="content"></textarea>
        </form>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script>
    $(document).ready(function() {
        $('.summernote').summernote({
            height: 500,
            minHeight: null,
            maxHeight: null,
            focus: true,
            lang: "ko-KR"
        })
    })
</script>
</body>
</html>