<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

<nav th:replace="fragments/navbar :: navbar"></nav>
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/mini_header :: mini_header"></div>

<div class="container">
    <div class="col-md-4">

    </div><div class="col-md-4">
        <div class="jumbotron" style="padding-top: 20px;">
            <form action="/login" method="post" th:object="${login}">

            </form>
        </div>
    </div><div class="col-md-4">

    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>