<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- header -->
<div class="header" th:fragment="header">
    <a href="/"><img src="/image/logo.png" class="logo-image"></a>

    <ul class="header-menu">
        <li class="menu"><a href="/" class="menu-info">홈</a></li>
        <li class="menu"><a href="/business" class="menu-info">사업분야</a></li>
        <li class="menu"><a href="/notice" class="menu-info">공지사항</a></li>
        <li class="menu"><a href="/info" class="menu-info">채용정보</a></li>
        <li class="menu"><a href="/inquiry" class="menu-info">문의하기</a></li>
    </ul>
</div>
</html>